In [4]:
import pymysql, requests

print('Teste')

Teste

In [2]:
API_KEY = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiYzJkNTJjNWU2YjlkYTBjMTdmYjg0NzI2ODc5YjFmOCIsInN1YiI6IjY1NmI4YTU2NjUxN2Q2MDEwZTU4Y2U0NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.W7reOnWs4_NAkuqoItSukRdl79xx_bZO-3M_5FlJP-8'
url = 'https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1&#39'
headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {API_KEY}"
}

In [5]:
response = requests.get(url = url, headers = headers)

In [6]:
filmes = response.json().get('results', {})

In [7]:
conexao = pymysql.connect(
    host = "localhost",
    user = 'root',
    password= 'Familia5!',
    port = 3306,
    db = 'sakila',
    cursorclass=pymysql.cursors.DictCursor)

In [8]:
cursor = conexao.cursor()

In [12]:
for filme in filmes:
    sql = f"insert into film (title, description,release_year) values({filme['title']} {filme['description']}, {filme['release_year']},)"

KeyError: 'description'

In [30]:
cursor.execute(sql)

1000

In [31]:
dados = cursor.fetchall()

In [32]:
for d in dados [0:5]:
    print(d)

{'film_id': 1, 'title': 'ACADEMY DINOSAUR', 'description': 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 6, 'rental_rate': Decimal('0.99'), 'length': 86, 'replacement_cost': Decimal('20.99'), 'rating': 'PG', 'special_features': 'Deleted Scenes,Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}
{'film_id': 2, 'title': 'ACE GOLDFINGER', 'description': 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 3, 'rental_rate': Decimal('4.99'), 'length': 48, 'replacement_cost': Decimal('12.99'), 'rating': 'G', 'special_features': 'Trailers,Deleted Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}
{'film_id': 3, 'title': 'ADAPTATION HOLES', 'description': 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 7, 'rental_rate': Decimal('2.99'), 'length': 50, 'replacement_cost': Decimal('18.99'), 'rating': 'NC-17', 'special_features': 'Trailers,Deleted Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}
{'film_id': 4, 'title': 'AFFAIR PREJUDICE', 'description': 'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 5, 'rental_rate': Decimal('2.99'), 'length': 117, 'replacement_cost': Decimal('26.99'), 'rating': 'G', 'special_features': 'Commentaries,Behind the Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}
{'film_id': 5, 'title': 'AFRICAN EGG', 'description': 'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico', 'release_year': 2006, 'language_id': 1, 'original_language_id': None, 'rental_duration': 6, 'rental_rate': Decimal('2.99'), 'length': 130, 'replacement_cost': Decimal('22.99'), 'rating': 'G', 'special_features': 'Deleted Scenes', 'last_update': datetime.datetime(2006, 2, 15, 5, 3, 42)}

In [33]:
cursor.commit()
conexao.close()
cursor.close()